@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import './src/colors';

:host {
  nb-card {
    border-radius: 10px;
  }

  nb-card-header {
    font-size: 21px;
    padding: 1.25rem;
    border: none;
    box-shadow: none;
  }

  nb-card-body {
    padding: 0 1.25rem 1.25rem;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;

  .title {
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .close-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #edf1f7;
    cursor: pointer;
    margin: 0 0 0 auto;
  }
}

.tab {
  padding-right: 8px;
  padding-left: 8px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 16px;

  .option {
    display: flex;
    margin-bottom: 16px;
    color: $color-1;

    &:hover {
      color: $color-1-darker;

      .icon {
        color: $color-1-darker;
      }
    }
  }

  .link {
    color: $color-1;

    &:hover {
      color: $color-1-darker;
    }
  }

  .icon {
    font-size: 24px;
    margin-right: 8px;
    color: $color-1;
  }
}

.shortcuts-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  .sub-header {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.code {
  background: #edf1f7;
  border: 1px dashed black;
  border-radius: 10px;
  color: #222b45;
  padding: 6px;
}

.description {
  margin-left: 8px;
}

@include media-breakpoint-down(md) {
  :host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    nb-card {
      border-radius: 0;
      min-height: 100vh;
    }

    nb-card-body {
      min-width: auto;
    }
  }
}
