@import './src/colors';
@import './src/mixins';

.title {
  color: $color-1-darker;
}

.subtitle {
  color: $color-8;
}

.alert-title,
.alert-message {
  margin: 0 0 8px;
}

.alert-message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.label {
  display: block;
  font-size: 14px;
  color: $color-1-darker;
}

.form-control::-webkit-input-placeholder {
  color: $color-8;
}

.invalid-feedback {
  display: block;
}

.btn-block {
  &.btn-pulse {
    @include pulse();
  }
}

.sign-in-or-up {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  color: $color-1-darker;
}
