<h1 class="text-center mb-1" id="title">Change password</h1>
<p class="sub-title text-center mb-5">Please set a new password</p>

<div *ngIf="showMessages.error && errors?.length && !submitted" class="alert alert-danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</div>

<div *ngIf="showMessages.success && messages?.length && !submitted" class="alert alert-success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</div>

<form #resetPassForm="ngForm" (ngSubmit)="resetPass()" aria-labelledby="title">
    <div class="form-group">
        <label class="label text-muted" for="input-password">New Password:</label>
        <input #password="ngModel"
               [(ngModel)]="user.password"
               [attr.aria-invalid]="password.invalid && password.touched ? true : null"
               [maxlength]="getConfigValue('forms.validation.password.maxLength')"
               [minlength]="getConfigValue('forms.validation.password.minLength')"
               [ngClass]="password.dirty ? (password.invalid  ? 'is-invalid' : 'is-valid') : ''"
               [required]="getConfigValue('forms.validation.password.required')"
               class="form-control form-control-lg"
               id="input-password"
               name="password"
               placeholder="New Password"
               type="password">
        <ng-container *ngIf="password.invalid && password.touched">
            <p *ngIf="password.errors?.required" class="invalid-feedback">
                Password is required!
            </p>
            <p *ngIf="password.errors?.minlength || password.errors?.maxlength" class="invalid-feedback">
                Password should contains
                from {{getConfigValue('forms.validation.password.minLength')}}
                to {{getConfigValue('forms.validation.password.maxLength')}}
                characters
            </p>
        </ng-container>
    </div>

    <div class="form-group">
        <label class="label text-muted" for="input-re-password">Confirm Password:</label>
        <input #rePass="ngModel"
               [(ngModel)]="user.confirmPassword"
               [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
               [ngClass]="rePass.touched ? (rePass.invalid || password.value != rePass.value ? 'is-invalid' : 'is-valid') : ''"
               [required]="getConfigValue('forms.validation.password.required')"
               class="form-control form-control-lg"
               id="input-re-password"
               name="rePass"
               placeholder="Confirm Password"
               type="password">
        <ng-container *ngIf="rePass.touched">
            <p *ngIf="rePass.invalid && rePass.errors?.required" class="invalid-feedback">
                Password confirmation is required!
            </p>
            <p *ngIf="password.value != rePass.value && !rePass.errors?.required" class="invalid-feedback">
                Password does not match the confirm password.
            </p>
        </ng-container>
    </div>

    <button [class.btn-pulse]="submitted"
            [disabled]="submitted || !resetPassForm.valid"
            class="btn-block btn btn-primary btn-lg"
            type="submit">
        Change password
    </button>
</form>

<section aria-label="Sign in or sign up" class="sign-in-or-up">
    <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
    <p><a class="text-link" routerLink="../register">Register</a></p>
</section>
