@import './src/colors';
@import './src/mixins';

.title {
  color: $color-1-darker;
}

.subtitle {
  color: $color-8;
}

.sub-label {
  color: $color-8;
}

.alert-title,
.alert-message {
  margin: 0 0 8px;
}

.alert-message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.label {
  display: block;
  font-size: 14px;
  color: $color-1-darker;
}

.invalid-feedback {
  display: block;
}

.btn-block {
  max-width: 120px;

  &.btn-pulse {
    @include pulse();
  }
}
