<app-header [fixed]=""></app-header>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center pt-6">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <h1 class="title text-center mb-4" id="title">Feel free to drop us a line and give us your
                    feedback.</h1>
                <p class="subtitle text-center mb-5">
                    We are looking forward to hearing back from you, please do drop us a line if you feel like it.
                </p>

                <form [formGroup]="feedbackForm" aria-labelledby="title">
                    <div class="form-group">
                        <label class="label" for="input-name">
                            Name <small class="sub-label">(Optional)</small>
                        </label>
                        <input [attr.aria-invalid]="feedbackForm.get('name').invalid && feedbackForm.get('name').touched ? true : null"
                               [ngClass]="feedbackForm.get('name').dirty ? (feedbackForm.get('name').invalid  ? 'is-invalid' : 'is-valid') : ''"
                               class="form-control form-control-lg"
                               formControlName="name"
                               id="input-name"
                               name="name"
                               placeholder="e.g Adam Smith"
                               type="text">
                    </div>

                    <div class="form-group">
                        <label class="label" for="input-subject">
                            Subject <small class="sub-label">(Optional)</small>
                        </label>
                        <input [attr.aria-invalid]="feedbackForm.get('subject').invalid && feedbackForm.get('subject').touched ? true : null"
                               [ngClass]="feedbackForm.get('subject').dirty ? (feedbackForm.get('subject').invalid  ? 'is-invalid' : 'is-valid') : ''"
                               class="form-control form-control-lg"
                               formControlName="subject"
                               id="input-subject"
                               name="subject"
                               placeholder="Summary of your observation..."
                               type="text">
                    </div>
                    <div class="form-group">
                        <label class="label" for="input-message">Message</label>
                        <textarea
                                [attr.aria-invalid]="feedbackForm.get('message').invalid && feedbackForm.get('message').touched ? true : null"
                                [ngClass]="feedbackForm.get('message').dirty ? (feedbackForm.get('message').invalid  ? 'is-invalid' : 'is-valid') : ''"
                                class="form-control form-control-lg"
                                formControlName="message"
                                id="input-message"
                                name="message"
                                placeholder="Give as many details as possible..."
                                rows="3"></textarea>
                        <ng-container
                                *ngIf="feedbackForm.get('message').invalid && feedbackForm.get('message').touched">
                            <p *ngIf="feedbackForm.get('message').errors?.required" class="invalid-feedback">
                                Message is required!
                            </p>
                        </ng-container>
                    </div>

                    <button (click)="sendFeedback()"
                            [class.btn-pulse]="submitted"
                            [disabled]="submitted || (feedbackForm.get('message').dirty && feedbackForm.get('message').invalid)"
                            class="btn-block btn btn-primary btn-lg"
                            type="button">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
