@import "./src/colors";
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


.footer {
  padding-bottom: 0;
  padding-top: 4rem;
  background: $color-6;

  .footer-head {
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-7;

    .head-text {
      h3 {
        font-size: 1.8rem;
        color: $color-1;
      }

      p {
        font-size: 1.1rem;
        color: $color-5;
      }
    }

    .head-action {
      .buttons {
        .btn {
          &.semi-rounded {
            border-radius: 0.75rem;
          }
        }
      }
    }
  }

  .footer-body {
    padding-top: 3rem;

    .footer-column {
      list-style: none;
      padding-top: 20px;

      .column-header {
        text-transform: uppercase;
        color: $color-1;
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
      }

      .column-item {
        padding-bottom: 10px;

        a {
          font-size: 16px;
          color: $color-5;

          &:hover {
            color: $color-2;
          }
        }
      }
    }

    .social-links {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        color: $color-5;
        margin: 0 5px;

        &:hover {
          color: $color-2;
        }
      }
    }

    .footer-description {
      color: $color-5;
      padding-top: 16px;
    }

    .moto {
      color: $color-5;
    }

    .small-footer-logo {
      height: 24px;
    }
  }

  .footer-languages {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-5;
    padding: 2rem 0;

    .footer-row {

      .column-item {
        display: inline-block;
        padding-right: 24px;
      }
    }

    a {
      color: $color-5;

      &:hover {
        color: $color-2;
      }
    }
  }

  .footer-copyright {
    color: $color-5;
    padding: 2rem 0;
    border-top: 1px solid $color-7, 4%;

    a {
      color: $color-5;

      &:hover {
        color: $color-2;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    .footer-head {
      flex-direction: column;
      text-align: center;

      .head-text {
        padding-bottom: 20px;
      }
    }

    .footer-body {
      padding-top: 3rem;

      .footer-column {
        padding-left: 0;
      }
    }

    .footer-languages {
      justify-content: flex-start;

      .footer-row {

        .column-item {
          padding-right: 16px;
          padding-top: 8px;
        }
      }
    }
  }
}
