<div class="modal is-active image-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <ng-content select=".header"></ng-content>
            <!--            <p class="modal-card-title">Modal title</p>-->
            <button aria-label="close" class="delete" (click)="closeDialog.emit()"></button>
        </header>
        <section class="modal-card-body">
            <ng-content select=".header"></ng-content>
            <!--            <h1>Hello World</h1>-->
            <!--            <p>-->
            <!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend-->
            <!--                gravida,-->
            <!--                nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio,-->
            <!--                sollicitudin vel erat vel, interdum mattis neque.-->
            <!--            </p>-->
        </section>
        <footer class="modal-card-foot">
            <ng-content select=".footer"></ng-content>
            <!--            <button class="button is-success">Save changes</button>-->
            <!--            <button class="button">Cancel</button>-->
        </footer>
    </div>
</div>
