.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.dialog-background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(138, 148, 153, 0.8);
}

.dialog-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  margin: 0 auto;
  width: 640px;
  overflow: auto;
  position: relative;
}


.dialog-card-head,
.dialog-card-foot {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 16px;
  position: relative;
}

.dialog-card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dialog-card-title {
  color: black;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 21px;
  line-height: 1
}

.dialog-card-foot {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dialog-card-body {
  background-color: #FFFFFF;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 16px;
}

