@import './src/colors';

.title {
  color: $color-1-darker;
}

.subtitle {
  color: $color-8;
}

.btn-lg-custom {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  border-radius: .375rem;
}
