<div class="form-container">
    <h4 class="form-header">Profile Details</h4>
    <form class="profile-settings-form">
        <div class="form-group">
            <label class="label" for="name">Name</label>
            <input class="form-control" id="name" nbInput placeholder="Please enter your name..." shape="semi-round"
                   status="basic" type="text">
        </div>
        <div class="form-group">
            <label class="label" for="description">Description</label>
            <input class="form-control" id="description" nbInput
                   placeholder="Please write something about yourself..." shape="semi-round" status="basic" type="text">
        </div>
        <button class="save-btn" nbButton shape="semi-round" status="primary" type="button">Save Changes</button>
    </form>
</div>

<div class="profile-avatar-container">
    <div class="avatar-container">
        <div [ngStyle]="{'background-image': getAvatarUr()}" class="avatar"></div>
        <button nbButton shape="semi-round" size="large">Upload image</button>
    </div>
</div>
