<div class="card ph-card">
    <div class="card-header">
        <h4 class="title">Basic Information</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" placeholder="Full name" type="text">
                    </div>
                </div>
<!--                <div class="col-12 col-md-6">-->
<!--                    <div class="form-group">-->
<!--                        <label for="email">Email</label>-->
<!--                        <input class="form-control" id="email" placeholder="name@address.com" type="email">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-12">
                    <div class="form-group">
                        <label>Bio</label>
                        <quill-editor
                                [styles]="{height: '160px'}"
                                (onEditorCreated)="onEditorCreated($event)"
                                (onSelectionChanged)="onSelectionChanged($event)"
                                (onEditorChanged)="onEditorChanged($event)"
                                (onFocus)="onFocus($event)"
                                (onBlur)="onBlur($event)">
                        </quill-editor>
                        <textarea *ngIf="!isQuillEditorEnabled" class="form-control fake-form-control"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-auto">
                    <button class="btn btn-lg btn-lg-custom btn-block btn-primary" type="submit">
                        Save changes
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card ph-card">
    <div class="card-header">
        <h4 class="title">
            Your media
        </h4>
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="avatar">
                            <img alt="..." class="avatar-img rounded-circle"
                                 src="https://via.placeholder.com/150">
                        </div>
                    </div>
                    <div class="col ml-n3">
                        <p class="mb-0">Your avatar</p>
                        <small class="text">PNG or JPG no larger than 1000px</small>
                    </div>
                    <div class="col-12 col-md-auto">
                        <button class="btn btn-xs btn-block btn-primary mt-5 mt-md-0">Upload</button>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <p class="mb-0">Profile cover</p>
                <p class="small text">PNG or JPG at 16:9 ratio no larger than 2MB</p>

                <div class="dropzone dropzone-single dz-clickable"
                     data-dropzone="{&quot;url&quot;: &quot;https://&quot;, &quot;maxFiles&quot;: 1, &quot;acceptedFiles&quot;: &quot;image/*&quot;}">

                    <!-- Preview -->
                    <div class="dz-preview dz-preview-single"></div>

                    <div class="dz-default dz-message">
                        <button class="dz-button" type="button">Drop files here to upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card ph-card">
    <div class="card-header">
        <h4 class="title">Privacy</h4>
    </div>
    <div class="card-body">

        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <p class="mb-0">Public Profile</p>
                        <small class="text">
                            Making your profile public means anyone can see your information.
                        </small>
                    </div>
                    <div class="col-auto">

                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchOne"
                                   type="checkbox">
                            <label class="custom-control-label" for="switchOne"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <p class="mb-0">Expose your email</p>
                        <small class="text">
                            This lets users find you by your email address.
                        </small>
                    </div>
                    <div class="col-auto">

                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchTwo"
                                   type="checkbox">
                            <label class="custom-control-label" for="switchTwo"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="text-center mb-0">
    <small class="text-muted">If you no longer want to use Phevoy, you can
        <a class="text-danger" href="#!">delete your account</a>.
    </small>
</p>
