@import "./src/colors";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-5;
  opacity: 0.4;
}

.text-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: $color-5;
}

.text {
  color: $color-5;
  font-size: 16px;
}

.icon {
  padding: 24px 16px 16px;
  font-size: 32px;
  cursor: pointer;
  color: $color-5;

  &:hover {
    color: $color-1;
  }
}
