<nb-layout>
    <nb-layout-header fixed>
        <span (click)="toggle()">Company Name</span>
        <div *ngIf="user" class="user-container">
            <span [nbPopover]="settingsPopover"
                  [ngStyle]="{'background-image': getAvatarUr()}"
                  class="user-avatar">
            </span>
        </div>
        <ng-template #settingsPopover>
            <div class="settings-popover">
                <div class="popover-header">
                    <div [ngStyle]="{'background-image': getAvatarUr()}" class="avatar"></div>
                    <div class="user-name">{{ user.username }}</div>
                    <a class="settings-link" routerLink="/account">Account Settings</a>
                </div>

                <ul class="menu-list">
                    <li class="menu-item" (click)="showPreferences()">
                        <nb-icon class="icon" icon="settings-2-outline"></nb-icon>
                        <span class="text">Preferences</span>
                    </li>
                    <li class="menu-item" (click)="showFeedback()">
                        <nb-icon class="icon" icon="message-circle-outline"></nb-icon>
                        <span class="text">Leave feedback</span>
                    </li>
                    <li class="menu-item" (click)="showHelp()">
                        <nb-icon class="icon" icon="question-mark-circle-outline"></nb-icon>
                        <span class="text">Help</span>
                    </li>
                </ul>

                <div class="popover-footer">
                    <button
                            class="logout-btn"
                            nbButton
                            shape="semi-round"
                            status="primary"
                            (click)="logout()">
                        <nb-icon icon="log-out-outline" [options]="{ animation: { type: 'flip' } }"></nb-icon>
                        Logout
                    </button>
                </div>
            </div>
        </ng-template>
    </nb-layout-header>

    <nb-sidebar tag="left">
        <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>
