<nb-layout>
    <nb-layout-header fixed>
        <span (click)="toggle()">Company Name</span>
        <div (click)="logout()" *ngIf="user" class="user-container">
            <span [ngStyle]="{'background-image': getAvatarUr()}" class="user-avatar"></span>
            <span class="name">{{ user.username }}</span>
        </div>
    </nb-layout-header>

    <nb-sidebar tag="left">
        <ul>
            <li routerLink="dashboard" routerLinkActive="active">Dashboard</li>
            <li routerLink="calendar" routerLinkActive="active">Calendar</li>
            <li>Recent</li>
        </ul>
    </nb-sidebar>

    <nb-layout-column class="layout-column-test">
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>
