<div class="header">
    <nav class="main-navbar">
        <div class="user-container" *ngIf="user" (click)="logout()">
            <span class="user-avatar" [ngStyle]="{'background-image': getAvatarUr()}"></span>
            <span class="name">{{ user.username }}</span>
        </div>
    </nav>
</div>
<div class="layout-container">
    <div class="menu-sidebar">
        <div class="menu-content">
            <ul>
                <li>Dashboard</li>
                <li>Calendar</li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="action-menu">
            <div class="action-content">
                <div class="action-box"><span class="text">Schedule</span></div>
                <div class="action-box"><span class="text">Join</span></div>
                <div class="action-box"><span class="text">Create</span></div>
                <div class="action-box"><span class="text">Share</span></div>
            </div>
        </div>
        <div class="main-content">
            <div *ngFor="let schedule of schedules" class="columns is-multiline">
                <div class="column is-full schedule-header">{{getDateFormatted(schedule.date)}}</div>
                <div *ngFor="let conference of schedules[3].conferences" class="column is-half">
                    <div class="conference-container">
                        <span class="date-wrapper">
                            <span class="start-date">{{ getStartDate(conference.startDate)}}</span>
                            <span class="end-date">{{ getEndDate(conference.endDate)}}</span>
                        </span>
                        <span class="title">{{ conference.name }}</span>
                        <fa-icon class="icon-edit" [icon]="faEdit" (click)="editConference(conference)"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-conference-dialog
        *ngIf="isOpenedConferenceDialog"
        (closeDialog)="closeConferenceDialog()">
</app-conference-dialog>
