<!-- Hero and nav -->
<div class="hero hero-waves-dark is-fullheight is-relative is-light-grey">

    <!--  {{> navbar-fade-dark}}-->
    <app-header type="navbar-dark"></app-header>
    <!-- Hero -->
    <div class="hero-body" id="main-hero">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3 z-index-2">

                    <div class="animated preFadeInLeft fadeInLeft" id="recover-card">
                        <div class="flex-card wavy-login-card">
                            <h2 class="text-bold dark-text no-margin-bottom pt-20 pb-20">Reset Password</h2>
                            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                                <div class="control-material is-secondary">
                                    <input class="material-input" required type="text">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email *</label>
                                </div>

                                <div class="pt-20 pb-20">
                                    <button
                                            class="button button-cta btn-align secondary-btn is-fullwidth rounded raised no-lh">
                                        Reset
                                        Password
                                    </button>
                                </div>
                            </form>
                        </div>

                        <p class="has-text-centered mt-40">
                            <a class="no-account is-secondary" id="show-login" routerLink="/login">Back to login</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--{{> footer-dark}}-->
