<div class="form-container">
    <h4 class="form-header">Time & Language</h4>
    <form class="password-form">
        <div class="form-group">
            <label class="label" for="language">Language</label>
            <input class="form-control" id="language" nbInput shape="semi-round"
                   status="basic" type="password">
        </div>
        <div class="form-group">
            <label class="label" for="time-zone">Time Zone</label>
            <input class="form-control" id="time-zone" nbInput shape="semi-round"
                   status="basic" type="password">
        </div>
        <div class="form-group">
            <label class="label" for="week-start">Start of the week</label>
            <input class="form-control" id="week-start" nbInput shape="semi-round"
                   status="basic" type="password">
        </div>
        <button class="save-btn" nbButton shape="semi-round" status="primary" type="button">Save Changes</button>
    </form>
</div>
