@import "./src/colors";

:host {
  app-popover {
    top: 48px;
  }

  nb-layout-header {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px -10px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  }

  .phev-user {
    display: flex;
    align-items: center;
    cursor: pointer;

    .user-avatar {
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  .settings-popover {
    display: flex;
    flex-direction: column;
    width: 240px;


    .phev-popover-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px 24px;

      .avatar {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-top: 16px;
      }

      .user-name {
        color: $color-1-darker;
        font-size: 18px;
        margin-top: 16px;
        font-weight: 600;
      }

      .settings-link {
        color: $color-1-darker;
        font-size: 16px;
        font-weight: 500;
        margin-top: 8px;
      }
    }

    .menu-list {
      margin: 0;
      padding: 0;

      .menu-item {
        display: flex;
        align-items: center;
        padding: 8px;
        margin: 0 8px 8px;
        cursor: pointer;

        &:hover {
          background-color: rgba(68, 45, 129, 0.08);
          border-radius: 8px;
        }

        .icon {
          font-size: 24px;
          margin-right: 8px;
          color: $color-1;
        }

        .text {
          color: $color-1-darker;
          font-size: 16px;
        }
      }
    }

    .phev-popover-footer {
      border-top: 1px solid #edf1f7;
      padding: 16px;

      .logout-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 100%;
        color: #FFFFFF;

        .im {
          font-size: 16px;
          font-weight: 900;
          margin-right: 8px;;
        }
      }
    }
  }
}
