@import './src/colors';
@import './src/mixins';

.title {
  color: $color-1-darker;
}

.subtitle {
  color: $color-8;
}

.alert-title,
.alert-message {
  margin: 0 0 8px;
}

.alert-message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.label {
  display: block;
  font-size: 14px;
  color: $color-1-darker;
}

.form-control::-webkit-input-placeholder {
  color: $color-8;
}

.label-with-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-control-label {
  color: $color-8;
}

.forgot-password {
  text-decoration: none;
  font-size: 12px;
}

.invalid-feedback {
  display: block;
}

.btn-block {
  &.btn-pulse {
    @include pulse();
  }
}

.links {
  text-align: center;
  margin-top: 28px;
  color: $color-1-darker;

  .socials {
    margin-top: 24px;
  }

  .socials a {
    margin: 0 16px;
    text-decoration: none;
    vertical-align: middle;

    &.with-icon {
      font-size: 32px;
    }

    .im {
      font-size: 32px;
    }
  }
}

.another-action {
  margin-top: 32px;
  text-align: center;
  color: $color-1-darker;
}
