<div [ngClass]="{'hide': !isLoading}" id="wave">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<div #meet [ngClass]="{'hide': isShowingPostMeetingActions}" class="meet"></div>

<ng-container *ngIf="isShowingPostMeetingActions">
    <app-header></app-header>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center pt-6">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <h1 class="title text-center mb-3">You left the meeting</h1>
                    <p class="subtitle text-center mb-5">Thank you for using Phevoy.</p>
                    <a class="btn-block btn btn-primary btn-lg" routerLink="/app" type="button">
                        Return to application
                    </a>
                    <section aria-label="Sign in or sign up" class="sign-in-or-up">
                        <p><a class="text-link" routerLink="/auth/login">Rejoin</a></p>
                    </section>
                </div>
            </div>
        </div>
    </section>
</ng-container>
