<div class="hero is-relative is-fullheight">
  <!-- Navbar -->
<!--  {{> navbar-static-dark}}-->
  <app-header></app-header>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-gapless is-vcentered">
        <!-- Error Wrapper -->
        <div class="column error-wrap error-centered has-text-centered">
          <div class="bg-404">404</div>
          <img src="assets/v1-error/img/illustrations/errors/1.svg" alt="">
          <div class="error-caption">
            <h2>Oops, We couldn't find that page.</h2>
            <p>Please try again or contact the website administrator to get some help.</p>
            <div class="button-wrap">
              <a class="button button-cta btn-outlined is-bold btn-align secondary-btn rounded raised" routerLink="/">
                Back to Homepage
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
