<app-header></app-header>

<section class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-center pt-6">
            <div class="col-md-8 error-wrap text-center">
                <div class="text-background">404</div>
                <img alt="..." src="assets/img/illustrations/UI/page-not-found.svg">
                <div class="error-caption">
                    <h2 class="title text-center pt-2 mb-md-2 mb-sm-2">
                        Oops, We couldn't find that page.
                    </h2>
                    <p class="subtitle text-center mb-md-4 mb-sm-4">
                        Please try again or contact the website administrator to get some help.
                    </p>
                    <div class="button-wrap">
                        <a class="btn btn-primary btn-lg semi-rounded" routerLink="/">
                            Back to Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
