<!-- Hero and nav -->
<div class="hero hero-waves-dark is-fullheight is-relative is-light-grey">
    <!--  {{> navbar-fade-dark}}-->
    <app-header type="navbar-dark"></app-header>
    <!-- Hero -->
    <div class="hero-body" id="main-hero">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3 z-index-2">
                    <div class="animated preFadeInLeft fadeInLeft" id="login-card">
                        <div class="flex-card wavy-login-card">
                            <h2 class="text-bold dark-text no-margin-bottom pt-20 pb-20">Log in</h2>
                            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="pt-10 pb-10">
                                <div class="control-material is-primary">
                                    <input class="material-input" formControlName="username" required type="text">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Username</label>
                                </div>
                                <div class="control-material is-primary">
                                    <input class="material-input" formControlName="password" required type="password">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password</label>
                                </div>

                                <div class="field pt-20">
                                    <div class="control">
                                        <label class="checkbox-wrap is-medium">
                                            <input class="d-checkbox" id="check2" type="checkbox">
                                            <span></span>
                                            Remember me
                                        </label>
                                    </div>
                                </div>

                                <div class="pt-20 pb-20">
                                    <button
                                            class="button button-cta btn-align secondary-btn is-fullwidth rounded raised no-lh">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                        <p class="has-text-centered mt-30">
                            <a class="no-account" id="show-recover" routerLink="/password-recovery">Lost your
                                password?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
