@import './src/colors';
@import './src/mixins';

.title {
  color: $color-1-darker;
}

.subtitle {
  color: $color-8;
}

.semi-rounded {
  border-radius: 0.75rem;
}

.navbar {
  .navbar-brand-img {
    max-height: 3rem;
    width: auto;
  }
}

.alert-title,
.alert-message {
  margin: 0 0 8px;
}

.alert-message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.label {
  display: block;
  color: $color-1-darker;
}

.form-control::-webkit-input-placeholder {
  color: $color-8;
}

.invalid-feedback {
  display: block;
}

.btn-block {
  max-width: 120px;

  &.btn-pulse {
    @include pulse();
  }
}
