@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import './src/colors';

:host {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  nb-card {
    border-radius: 10px;
  }

  nb-card-header {
    font-size: 21px;
    padding: 1.25rem;
    border: none;
    box-shadow: none;
  }

  nb-card-body {
    padding: 0 1.25rem;
  }

  nb-card-footer {
    padding: 1.25rem;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;

  .title {
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .close-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #edf1f7;
    cursor: pointer;
    margin: 0 0 0 auto;
  }
}

.text {
  display: flex;
  font-size: 16px;
  max-width: 400px;
  margin-bottom: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .label {
    color: $color-8;
  }
}

.feedback-footer {
  .send-btn {
    margin-right: 8px;
  }
}

@include media-breakpoint-down(md) {
  :host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: none;

    nb-card {
      border-radius: 0;
      min-height: 100vh;
    }

    nb-card-body {
      min-width: auto;
    }
  }
}
