<!--<div class="form-container">-->
<!--    <h4 class="form-header">Password</h4>-->
<!--    <form class="password-form">-->
<!--        <div class="form-group">-->
<!--            <label class="label" for="current-password">Current Password</label>-->
<!--            <input class="form-control" id="current-password" nbInput shape="semi-round"-->
<!--                   status="basic" type="password">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="label" for="new-password">New Password</label>-->
<!--            <input class="form-control" id="new-password" nbInput shape="semi-round"-->
<!--                   status="basic" type="password">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="label" for="confirm-password">Confirm Password</label>-->
<!--            <input class="form-control" id="confirm-password" nbInput shape="semi-round"-->
<!--                   status="basic" type="password">-->
<!--        </div>-->
<!--        <button class="save-btn" nbButton shape="semi-round" status="primary" type="button">Save Changes</button>-->
<!--    </form>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="form-container">-->
<!--    <h4 class="form-header">Email</h4>-->
<!--    <form class="email-form">-->
<!--        <div class="form-group">-->
<!--            <label class="label" for="email">Email Address</label>-->
<!--            <input class="form-control" id="email" nbInput shape="semi-round"-->
<!--                   status="basic" type="email">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="label" for="current-password-email">Current Password</label>-->
<!--            <input class="form-control" id="current-password-email" nbInput shape="semi-round"-->
<!--                   status="basic" type="password">-->
<!--        </div>-->
<!--        <button class="save-btn" nbButton shape="semi-round" status="primary" type="button">Save Changes</button>-->
<!--    </form>-->
<!--</div>-->
