<div class="card ph-card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="title">Two Factor</h4>
            </div>
            <div class="col-auto mr-n3">
                <small class="text">Requred?</small>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-switch">
                    <input checked="" class="custom-control-input" id="twoFactorSwitch" type="checkbox">
                    <label class="custom-control-label" for="twoFactorSwitch"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">

        <!-- List group -->
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                            Authenticator App
                        </p>

                        <!-- Text -->
                        <small class="text">
                            Google auth or 1Password
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-xs btn-outline-white">
                            Setup
                        </button>

                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                            SMS Recovery <i class="fe fe-info text-gray-500"
                                            data-original-title="We use the the phone number you provide in General"
                                            data-toggle="tooltip"
                                            title=""></i>
                        </p>

                        <!-- Text -->
                        <small class="text">
                            Standard messaging rates apply
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-xs btn-danger">
                            Disable
                        </button>

                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                            Recovery Codes <i class="fe fe-info text-gray-500"
                                              data-original-title="We use the the phone number you provide in General"
                                              data-toggle="tooltip"
                                              title=""></i>
                        </p>

                        <!-- Text -->
                        <small class="text">
                            One time use safety codes
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-xs btn-outline-white">
                            Reveal
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Card -->
<div class="card ph-card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">

                <!-- Heading -->
                <h4 class="title">
                    Password
                </h4>

            </div>
            <div class="col-auto">

                <!-- Link -->
                <a class="small text" href="#!">
                    Forgot your password?
                </a>

            </div>
        </div>
    </div>
    <div class="card-body">

        <!-- Current password -->
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input class="form-control" id="currentPassword" type="password">
        </div>

        <!-- New password -->
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input class="form-control" id="newPassword" type="password">
        </div>

        <!-- Confirm password -->
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="form-control" id="confirmPassword" type="password">
        </div>


        <div class="row">
            <div class="col-12 col-md-auto">
                <!-- Button -->
                <button class="btn btn-lg btn-lg-custom btn-block btn-primary" type="submit">
                    Update Password
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Card -->
<div class="card ph-card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="title">Email</h4>
            </div>
        </div>
    </div>
    <div class="card-body">

        <!-- Current password -->
        <div class="form-group">
            <label for="currentEmail">Current Email</label>
            <input class="form-control" id="currentEmail" type="email">
        </div>

        <!-- New password -->
        <div class="form-group">
            <label for="newEmail">New Email</label>
            <input class="form-control" id="newEmail" type="email">
        </div>

        <!-- Confirm password -->
        <div class="form-group">
            <label for="confirmEmailPassword">Confirm Password</label>
            <input class="form-control" id="confirmEmailPassword" type="password">
        </div>

        <div class="row">
            <div class="col-12 col-md-auto">
                <button class="btn btn-lg btn-lg-custom btn-block btn-primary" type="submit">
                    Update Email
                </button>
            </div>
        </div>
    </div>
</div>
