:host {
  display: flex;

  &.with-hover {

    .conference-content {
      &:hover {
        background-color: #edf1f7;
      }
    }
  }
}

.conference-content {
  display: flex;
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #edf1f7;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
  max-width: 800px;

  &:last-child {
    margin-bottom: 0;
  }

  .date-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 4px;
    margin-right: 16px;
    border-right: 1px solid #edf1f7;
    min-width: 80px;

    .start-date {
      color: #281F42;
      font-size: 16px;
    }

    .end-date {
      color: #869ab8;
      font-size: 12px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #281F42;
  }

  .icon-edit {
    display: flex;
    cursor: pointer;
    margin: 0 0 0 auto;
  }

  .icon-action-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;

    .icon {
      display: flex;
      margin-bottom: 8px;
      cursor: pointer;
      opacity: 0.8;

      &.edit {
        color: #281F42;
      }

      &.remove {
        color: #ae7979;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
