<div class="card ph-card">
    <div class="card-header">
        <h4 class="title">
            Application Notifications
        </h4>
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="mb-0">Direct messages</p>
                        <small class="text">Messages from people you follow</small>
                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchOne" type="checkbox">
                            <label class="custom-control-label" for="switchOne"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="mb-0">Reminders</p>
                        <small class="text">Wrap up emails about content you missed</small>
                    </div>
                    <div class="col-auto">
                        <div aria-expanded="false" aria-haspopup="true" class="choices" data-type="select-one"
                             role="listbox"
                             tabindex="0">
                            <div class="custom-select custom-select-xs"><select
                                    class="custom-select custom-select-xs choices__input" data-choice="active"
                                    data-choices=""
                                    hidden="" tabindex="-1">
                                <option value="weekly">Daily</option>
                            </select>
                                <div class="none none">
                                    <div aria-selected="true" class="choices__item choices__item--selectable"
                                         data-custom-properties="null"
                                         data-id="1" data-item="" data-value="weekly">Daily
                                    </div>
                                </div>
                            </div>
                            <div aria-expanded="false" class="none dropdown-menu">
                                <div class="none" role="listbox">
                                    <div aria-selected="true"
                                         class="choices__item dropdown-item active choices__item--selectable is-highlighted"
                                         data-choice="" data-choice-selectable="" data-id="1"
                                         data-select-text="Press to select"
                                         data-value="weekly" id="choices--wulj-item-choice-1"
                                         role="option">
                                        Daily
                                    </div>
                                    <div class="choices__item dropdown-item choices__item--selectable"
                                         data-choice="" data-choice-selectable=""
                                         data-id="2" data-select-text="Press to select" data-value="weekly"
                                         id="choices--wulj-item-choice-2" role="option">
                                        Monthly
                                    </div>
                                    <div class="choices__item dropdown-item choices__item--selectable"
                                         data-choice="" data-choice-selectable=""
                                         data-id="3" data-select-text="Press to select" data-value="weekly"
                                         id="choices--wulj-item-choice-3" role="option">
                                        Weekly
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="mb-0">Follower updates</p>
                        <small class="text">Changes to who’s following you</small>
                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchTwo" type="checkbox">
                            <label class="custom-control-label" for="switchTwo"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="mb-0">Reposts</p>
                        <small class="text">When others repost your content</small>
                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchThree" type="checkbox">
                            <label class="custom-control-label" for="switchThree"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-bleed shadow-light-lg">
    <div class="card-header">
        <h4 class="title">
            Marketing Communications
        </h4>

    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="mb-0">Sales &amp; Promotions</p>
                        <small class="text">We only notify you for significant promotions</small>
                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchFour" type="checkbox">
                            <label class="custom-control-label" for="switchFour"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="mb-0">Product updates</p>
                        <small class="text">Major changes in our product offering</small>
                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchFive" type="checkbox">
                            <label class="custom-control-label" for="switchFive"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="mb-0">Newsletter</p>
                        <small class="text">Updates on what’s going on here at Landkit.</small>
                    </div>
                    <div class="col-auto">
                        <div class="custom-control custom-switch">
                            <input checked="" class="custom-control-input" id="switchSix" type="checkbox">
                            <label class="custom-control-label" for="switchSix"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
