@import '~@nebular/theme/styles/component';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.field {
  margin-bottom: 16px;
}

.date {
  display: flex;
  width: 100%;
}

.datepicker {
  width: 100%;
}

.time {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 8px;
}

.time-picker {
  width: 100%;
}

.time-label {
  padding: 0 8px;
  font-weight: 500;
  margin: 0;
}

.description {
  resize: vertical;
}

@include media-breakpoint-down(sm) {
  .date {
    flex-direction: column;
  }

  .datepicker {
    margin-bottom: 16px;
  }

  .time {
    padding-left: 0;
  }
}
