<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
            <img alt="..." class="navbar-brand-img" src="assets/img/brand.png">
        </a>

        <div class="ml-auto">
            <a class="navbar-btn btn btn-primary semi-rounded" routerLink="/signup">Try free</a>
            <a class="navbar-btn btn btn-outline-primary semi-rounded ml-3" routerLink="/login">Login</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
