<footer class="footer">
    <div class="container">
        <div class="footer-head">
            <div class="head-text">
                <h3>Want to learn more?</h3>
                <p>Check our customer help center for more info</p>
            </div>
            <div class="head-action">
                <div class="buttons">
                    <button class="btn btn-primary btn-lg semi-rounded" type="button">Help Center</button>
                    <button class="btn btn-primary-transparent ml-2 btn-lg semi-rounded" type="button">
                        Chat with us
                    </button>
                </div>
            </div>
        </div>
        <div class="row footer-body justify-content-between">
            <div class="col-md-4">
                <div>
                    <img alt="" class="small-footer-logo" src="assets/img/vectors/phevoy-logo-grey.svg">
                    <div class="footer-description">
                        Lorem ipsum dolor sit amet, clita laoreet ne cum. His cu harum inermis iudicabit. Ex vidit
                        fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                    </div>
                </div>
                <div>
                    <div class="social-links">
                        <a routerLink="/">
                            <span class="icon"><i class="fa fa-facebook"></i></span>
                        </a>
                        <a routerLink="/">
                            <span class="icon"><i class="fa fa-twitter"></i></span>
                        </a>
                        <a routerLink="/">
                            <span class="icon"><i class="fa fa-linkedin"></i></span>
                        </a>
                        <a routerLink="/">
                            <span class="icon"><i class="fa fa-dribbble"></i></span>
                        </a>
                        <a routerLink="/">
                            <span class="icon"><i class="fa fa-github"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-2">
                <div class="row menu-items">
                    <div class="col-md-4">
                        <ul class="footer-column">
                            <li class="column-header">
                                Phevoy
                            </li>
                            <li class="column-item"><a routerLink="/">Home</a></li>
                            <li class="column-item"><a routerLink="/features">Features</a></li>
                            <li class="column-item"><a routerLink="/">Pricing</a></li>
                            <li class="column-item"><a routerLink="/">Get started</a></li>
                            <li class="column-item"><a routerLink="/contact">Contact Us</a></li>
                            <li class="column-item"><a routerLink="/leave-feedback">Leave Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="footer-column">
                            <li class="column-header">
                                Resources
                            </li>
                            <li class="column-item"><a routerLink="/support-center">Support center</a></li>
                            <li class="column-item"><a routerLink="/">FAQ</a></li>
                            <li class="column-item"><a routerLink="/">GDPR guide</a></li>
                            <li class="column-item"><a routerLink="/">Schedule a demo</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="footer-column">
                            <li class="column-header">
                                Terms
                            </li>
                            <li class="column-item"><a routerLink="/">Terms of Service</a></li>
                            <li class="column-item"><a routerLink="/">Privacy policy</a></li>
                            <li class="column-item"><a routerLink="/">Imprint</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-languages">
            <ul class="footer-row p-0 m-0">
                <li class="column-item"><a routerLink="/">English</a></li>
                <li class="column-item"><a routerLink="/">Deutsch</a></li>
                <li class="column-item"><a routerLink="/">Polski</a></li>
                <li class="column-item"><a routerLink="/">Pусский</a></li>
            </ul>
        </div>
        <div class="footer-copyright">
            <p class="m-0">&copy; 2020 | <a href="https://phevoy.pl">Phevoy</a> | All Rights Reserved.</p>
        </div>
    </div>
</footer>
