@import '~@nebular/theme/styles/component';

@include nb-install-component() {
  nb-card {
    border-radius: 10px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.save {
  margin-right: 8px;
}
