<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <app-conference-form
                [description]="description"
                [endDate]="endDate"
                [name]="name"
                [startDate]="startDate"
                (valueChanged)="conferenceFormChanged($event)">
        </app-conference-form>
    </nb-card-body>
    <nb-card-footer class="footer">
        <button class="save" type="submit" nbButton shape="semi-round" status="success" (click)="save()">Save</button>
        <button nbButton shape="semi-round" status="basic" (click)="dismiss()">Cancel</button>
    </nb-card-footer>
</nb-card>
