<nb-card>
    <nb-card-header>
        <div class="header-wrapper">
            <span>{{title}}</span>
            <nb-icon
                    class="close-dialog"
                    icon="close-outline"
                    [options]="{ animation: { type: 'flip' } }"
                    (click)="dismiss()">
            </nb-icon>
        </div>
    </nb-card-header>
    <nb-card-body>
        <app-conference-form
                [description]="description"
                [endDate]="endDate"
                [name]="name"
                [startDate]="startDate"
                (valueChanged)="conferenceFormChanged($event)"
                (isValid)="validConferenceFormChanged($event)">
        </app-conference-form>
    </nb-card-body>
    <nb-card-footer class="footer">
        <button class="save" type="submit" nbButton shape="semi-round" status="success" (click)="save()">Save</button>
        <button nbButton shape="semi-round" status="basic" (click)="dismiss()">Cancel</button>
    </nb-card-footer>
</nb-card>
