<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis tincidunt tincidunt.
        Vestibulum vulputate maximus massa vel tristique. Suspendisse potenti. Duis aliquet purus sed dictum dictum.
        Donec fringilla, purus at fermentum imperdiet, velit enim malesuada turpis, quis luctus arcu arcu nec orci.
        Duis eu mattis felis. Quisque sollicitudin elementum nunc vel tincidunt. Vestibulum egestas mi nec
        iaculis varius. Morbi in risus sed sapien ultricies feugiat. Quisque pulvinar mattis purus,
        in aliquet massa aliquet et.
    </nb-card-body>
    <nb-card-footer>
        <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>
    </nb-card-footer>
</nb-card>

<!--<app-dialog (closeDialog)="closeDialog.emit()">-->
<!--    <div class="header-body">-->
<!--        <p class="modal-card-title">Schedule Conference</p>-->
<!--    </div>-->
<!--    <div class="content-body">-->
<!--        <form>-->
<!--            <div class="field">-->
<!--                <label class="label">Title</label>-->
<!--                <div class="control">-->
<!--                    <input class="input" placeholder="Text input" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field fieldset-datepicker">-->

<!--            </div>-->
<!--            <div class="field">-->
<!--                <label class="label">Description</label>-->
<!--                <div class="control">-->
<!--                    <textarea class="textarea" placeholder="Textarea"></textarea>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="footer-body">-->
<!--        <button class="button is-success">Save changes</button>-->
<!--        <button class="button">Cancel</button>-->
<!--    </div>-->
<!--</app-dialog>-->
