@import '~@nebular/theme/styles/component';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

:host {
  nb-card {
    border-radius: 10px;
  }

  nb-card-header {
    font-size: 21px;
    padding: 32px 32px 16px;
    border: none;
    box-shadow: none;
  }

  nb-card-body {
    min-width: 650px;
    overflow: auto;
  }

  @include media-breakpoint-down(md) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    nb-card {
      border-radius: 0;
      min-height: 100vh;
    }

    nb-card-body {
      min-width: auto;
    }
  }
}

.header-wrapper {
  display: flex;
  align-items: center;

  .close-dialog {
    cursor: pointer;
    margin: 0 0 0 auto;
  }
}

.tab {
  padding-right: 8px;
  padding-left: 8px;
}

.notification-settings {
  padding-top: 16px;
}

.more-options {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  .option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

}

.icon {
  font-size: 24px;
  margin-right: 8px;
  color: #8779AE;
}

.appearance-settings {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.setting-name {
  display: flex;
  align-items: center;
}

.theme-selector {
  margin-left: 16px;
}
