<div class="card ph-card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="title">Current Plan</h4>
            </div>
            <div class="col-auto">
                <span class="title">$27/mo</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <h4 class="title">Starter Plan</h4>
                <small class="text">Next payment on 03/03/2020</small>
            </div>
            <div class="col-auto">
                <a class="btn btn-xs btn-primary">Change plan</a>
            </div>
        </div>

        <div class="d-flex">
            <fa-icon [icon]="faCheck" class="icon-success mr-3"></fa-icon>
            <p><small>Completely firewall 246-encryption</small></p>
        </div>

        <div class="d-flex">
            <fa-icon [icon]="faCheck" class="icon-success mr-3"></fa-icon>
            <p><small>TPSK-1 Compliant</small></p>
        </div>

        <div class="d-flex">
            <fa-icon [icon]="faCheck" class="icon-success mr-3"></fa-icon>
            <p class="mb-0">White-label available for free<small></small></p>
        </div>
    </div>
</div>

<div class="card ph-card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="title">Payment Methods</h4>
            </div>
            <div class="col-auto">
                <button class="btn btn-xs btn-primary">Add new</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img alt="..."
                             class="img-fluid"
                             src="assets/img/illustrations/UI/visa.svg"
                             style="max-width: 40px;">
                    </div>
                    <div class="col ml-n3">
                        <p class="mb-0">Visa ending in 1234</p>
                        <small class="text">Expires 03/2024</small>
                    </div>
                    <div class="col-auto mr-n5">

                        <!-- Badge -->
                        <span class="badge badge-pill badge-secondary-soft">
                          <span class="h6 text-uppercase font-weight-bold">Default</span>
                        </span>

                    </div>
                    <div class="col-auto">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a class="text-gray-400 text-decoration-none" data-toggle="dropdown" href="#">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">

                        <!-- Icon -->
                        <img alt="..." class="img-fluid" src="assets/img/illustrations/UI/mastercard.svg"
                             style="max-width: 40px;">

                    </div>
                    <div class="col ml-n3">

                        <!-- Heading -->
                        <p class="mb-0">
                            Mastercard ending in 1234
                        </p>

                        <!-- Text -->
                        <small class="text">
                            Expires 07/2026
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a class="text-gray-400 text-decoration-none" data-toggle="dropdown" href="#">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Card -->
<div class="card card-bleed shadow-light-lg">
    <div class="card-header">

        <!-- Heading -->
        <h4 class="title">
            Invoice History
        </h4>

    </div>
    <div class="card-body">

        <!-- List group -->
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                            <a href="#!">Invoice #91240</a>
                        </p>

                        <!-- Text -->
                        <small class="text">
                            Billed Apr, 24, 2020
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-xs btn-outline-white">
                            Pay now
                        </button>

                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                            <a href="#!">Invoice #89283</a>
                        </p>

                        <!-- Text -->
                        <small class="text">
                            Billed Apr, 24, 2020
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Badge -->
                        <span class="badge badge-pill badge-success-soft">
                          <span class="h6 text-uppercase font-weight-bold">Paid</span>
                        </span>

                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                            <a href="#!">Invoice #89283</a>
                        </p>

                        <!-- Text -->
                        <small class="text">
                            Billed Apr, 24, 2020
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Badge -->
                        <span class="badge badge-pill badge-success-soft">
                          <span class="h6 text-uppercase font-weight-bold">Paid</span>
                        </span>

                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col">

                        <!-- Heading -->
                        <p class="mb-0">
                            <a href="#!">Invoice #89283</a>
                        </p>

                        <!-- Text -->
                        <small class="text">
                            Billed Apr, 24, 2020
                        </small>

                    </div>
                    <div class="col-auto">

                        <!-- Badge -->
                        <span class="badge badge-pill badge-success-soft">
                          <span class="h6 text-uppercase font-weight-bold">Paid</span>
                        </span>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
