<app-header [showMenuItems]="false"></app-header>
<section class="hero">
    <div class="container-md">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="header">Account Settings</h1>
                <p class="sub-header mb-0">Settings for <a class="text-reset" href="mailto:example@phevoy.com">example@phevoy.com</a>
                </p>
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-gray-300-20">Log Out</button>
            </div>
        </div>
    </div>
</section>
<main class="main pb-8 pb-md-11">
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card">

                    <div class="collapse d-md-block" id="sidenavCollapse">
                        <div class="card-body">

                            <h6 class="header">Account</h6>
                            <ul class="card-list list">
                                <li class="list-item" routerLink="/account/profile" routerLinkActive="active">
                                    <a class="list-link text-reset">General</a>
                                </li>
                                <li class="list-item" routerLink="/account/authentication" routerLinkActive="active">
                                    <a class="list-link text-reset">Security</a>
                                </li>
                                <li class="list-item" routerLink="/account/notifications" routerLinkActive="active">
                                    <a class="list-link text-reset">Notifications</a>
                                </li>
                            </ul>

                            <h6 class="header">Billing</h6>
                            <ul class="card-list list">
                                <li class="list-item">
                                    <a class="list-link text-reset">Plans &amp; Payment</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-12 col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>
<!--<nb-layout>-->
<!--    <nb-sidebar [collapsedBreakpoints]="[]" class="menu-sidebar" responsive start tag="menu-account-sidebar">-->
<!--        <nb-menu [items]="menu"></nb-menu>-->
<!--    </nb-sidebar>-->

<!--    <nb-layout-column>-->
<!--        <nav class="content-nav">-->
<!--            <a routerLink="/app">-->
<!--                <nb-icon class="icon" icon="browser-outline"></nb-icon>-->
<!--                Back to app-->
<!--            </a>-->
<!--        </nav>-->
<!--        <router-outlet></router-outlet>-->
<!--    </nb-layout-column>-->
<!--</nb-layout>-->
