<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar.emit()" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <img (click)="navigateHome.emit()" alt="..." class="logo" src="assets/img/vectors/phevoy-logo.svg">
    </div>
</div>

<div class="header-container">
    <nb-actions size="small">
        <nb-action class="user-action">
            <div (click)="toggleMessagePopover()" class="icon-popover">
                <nb-icon class="icon" icon="email-outline"></nb-icon>
                <app-popover (clickedOutside)="toggleMessagePopover()" *ngIf="showMessagePopover">
                    <div class="message-popover">
                        <div class="phev-popover-header">
                            Check back soon!
                        </div>
                    </div>
                </app-popover>
            </div>
        </nb-action>
        <nb-action class="user-action">
            <div (click)="toggleNotificationPopover()" class="icon-popover">
                <nb-icon icon="bell-outline"></nb-icon>
                <app-popover (clickedOutside)="toggleNotificationPopover()" *ngIf="showNotificationPopover">
                    <div class="message-popover">
                        <div class="phev-popover-header">
                            Check back soon!
                        </div>
                    </div>
                </app-popover>
            </div>
        </nb-action>
        <nb-action class="user-action">
            <ng-content select=".phev-user"></ng-content>
        </nb-action>
    </nb-actions>
</div>
