<!-- Hero and nav -->
<div class="hero hero-waves-dark is-fullheight is-relative is-light-grey">
    <!--  {{> navbar-fade-dark}}-->
    <app-header type="navbar-dark"></app-header>
    <!-- Hero -->
    <div class="hero-body" id="main-hero">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-6 is-offset-3 z-index-2">
                    <div class="animated preFadeInLeft fadeInLeft" id="signup-card">
                        <div class="flex-card wavy-signup-card">
                            <h2 class="has-text-centered text-bold no-margin-bottom pt-20 pb-20">Sign up</h2>
                            <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
                                <div class="control-material is-secondary">
                                    <input class="material-input" formControlName="email" required type="text">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email *</label>
                                </div>
                                <div class="control-material is-secondary">
                                    <input class="material-input" formControlName="username" required type="text">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Full name *</label>
                                </div>
                                <div class="control-material is-secondary">
                                    <input class="material-input" formControlName="password" required type="text">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password *</label>
                                </div>

                                <div class="pt-20 pb-20">
                                    <button
                                            class="button button-cta btn-align secondary-btn is-fullwidth rounded raised no-lh">
                                        Get
                                        started now
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{{> footer-dark}}-->
