@import "src/mixins";

:host {
  display: flex;
  flex-direction: column;
  //margin: -1rem -1rem 0;

  @include breakpoint(medium) {
    //margin: -1.5rem -1.5rem -0.5rem;
  }

  @include breakpoint(large) {
    //margin: -2.25rem -2.25rem -0.75rem;
  }

}

.calendar-header {
  display: flex;
  align-items: center;
  padding: 8px 0;

  .control {
    margin: 0 4px;

    &:first-child {
      margin-left: 8px;
    }

    &:last-child {
      margin-right: 8px;
    }
  }

  .date {
    text-align: center;
  }

  .select-calendar-view {
    margin-left: auto;
  }
}
