@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

:host {
  display: flex;
  flex-direction: column;
}

.calendar-header {
  position: sticky;
  top: 4.75rem;
  display: flex;
  align-items: center;
  padding: 16px 0;
  background-color: #f8f9fa;
  z-index: 10;

  &.sticky {
    border-bottom: 1px solid #e1e1e1;
  }

  .control {
    margin: 0 4px;
    border-radius: 18px;

    &:first-child {
      margin-left: 2.25rem;
    }

    &:last-child {
      margin-right: 2.25rem;
    }

    &.select-calendar-view {
      margin-left: auto;
    }
  }

  .date {
    text-align: center;
  }
}

@include media-breakpoint-down(md) {
  .calendar-header {
    padding: 16px 0;

    .control {
      margin: 0 4px;
      border-radius: 18px;

      &:first-child {
        margin-left: 1.5rem;
      }

      &:last-child {
        margin-right: 1.5rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .calendar-header {
    padding: 16px 0;

    .control {
      margin: 0 4px;
      border-radius: 18px;

      &:first-child {
        margin-left: 0.75rem;
      }

      &:last-child {
        margin-right: 0.75rem;
      }
    }
  }
}
