<div class="calendar-header">
    <button
            [(viewDate)]="viewDate"
            class="control"
            mwlCalendarToday
            nbButton
            outline
            size="small"
            status="primary">
        Today
    </button>
    <button
            (viewDateChange)="closeOpenMonthViewDay()"
            [(viewDate)]="viewDate"
            [view]="view"
            class="control"
            mwlCalendarPreviousView
            nbButton
            outline
            size="small"
            status="primary">
        <nb-icon class="icon" icon="arrow-upward-outline"></nb-icon>
    </button>
    <button
            (viewDateChange)="closeOpenMonthViewDay()"
            [(viewDate)]="viewDate"
            [view]="view"
            class="control"
            mwlCalendarNextView
            nbButton
            outline
            size="small"
            status="primary">
        <nb-icon class="icon" icon="arrow-downward-outline"></nb-icon>
    </button>
    <span class="control date">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
    <nb-select (selectedChange)="changeCalendarView($event)" [selected]="currentCalendarView"
               class="select-calendar-view control"
               size="small"
               status="primary">
        <nb-option *ngFor="let calendarViews of calendarViews"
                   [value]="calendarViews.value"> {{ calendarViews.name }}</nb-option>
    </nb-select>
</div>

<div [ngSwitch]="view">
    <mwl-calendar-month-view
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            *ngSwitchCase="CalendarView.Month"
            [activeDayIsOpen]="activeDayIsOpen"
            [events]="events"
            [refresh]="refresh"
            [viewDate]="viewDate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (hourSegmentClicked)="hourSegmentClicked($event.date, $event.sourceEvent)"
            *ngSwitchCase="CalendarView.Week"
            [events]="events"
            [refresh]="refresh"
            [viewDate]="viewDate">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
            (hourSegmentClicked)="hourSegmentClicked($event.date)"
            *ngSwitchCase="CalendarView.Day"
            [events]="events"
            [refresh]="refresh"
            [viewDate]="viewDate">
    </mwl-calendar-day-view>
</div>

<ng-template #dialog let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button (click)="close()" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="close()" class="btn btn-outline-secondary" type="button">
            OK
        </button>
    </div>
</ng-template>
