:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #e4e9f2;
  height: 80px;
  width: 100%;
}

.layout-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #edf1f7;
  min-height: calc(100vh - 80px);
  padding-top: 80px;
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, .1);

  .menu-content {
    padding: 24px;
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;


  .action-menu {
    display: block;
    width: 100%;
    background-color: #ECECEC;
    padding: 16px 24px;
    border-bottom: 1px solid #e4e9f2;
  }

  .action-content {
    display: flex;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.columns, .column {
  margin: 0;
}

.conference-container {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #e4e9f2;
  border-radius: 10px;
  padding: 16px;

  .date-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 16px;

    .start-date {
      font-size: 16px;
    }

    .end-date {
      font-size: 14px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
}

.schedule-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #7F00FF;
  border-bottom: 1px solid #6400cd;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
}

.action-box {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #e4e9f2;
  border-radius: 10px;
  padding: 24px;
  width: 140px;
  height: 100px;
  margin-right: 16px;

  .text {
    display: flex;
    align-items: center;
  }
}

.boxer {
  background-color: #fff;
  border: 1px solid #e4e9f2;
  border-radius: 20px;
}


