@import './src/mixins';

.alert-title,
.alert-message {
  margin: 0 0 8px;
}

.alert-message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.label {
  display: block;
  font-size: 14px;
}

.invalid-feedback {
  display: block;
}

.btn-block {
  &.btn-pulse {
    @include pulse();
  }
}

.sign-in-or-up {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
