<h1 class="text-center mb-1" id="title">Forgot Password</h1>
<p class="sub-title text-center mb-5">Enter your email address and we’ll send a link to reset your password</p>

<div *ngIf="showMessages.error && errors?.length && !submitted" class="alert alert-danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</div>

<div *ngIf="showMessages.success && messages?.length && !submitted" class="alert alert-success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</div>

<form #requestPassForm="ngForm" (ngSubmit)="requestPass()" aria-labelledby="title">

    <div class="form-group">
        <label class="label text-muted" for="input-email">Enter your email address:</label>
        <input #email="ngModel"
               [(ngModel)]="user.email"
               [attr.aria-invalid]="email.invalid && email.touched ? true : null"
               [ngClass]="email.dirty ? (email.invalid  ? 'is-invalid' : 'is-valid') : ''"
               [required]="getConfigValue('forms.validation.email.required')"
               autofocus
               class="form-control form-control-lg"
               id="input-email"
               name="email"
               pattern=".+@.+\..+"
               placeholder="Email address">
        <ng-container *ngIf="email.invalid && email.touched">
            <p *ngIf="email.errors?.required" class="invalid-feedback">
                Email is required!
            </p>
            <p *ngIf="email.errors?.pattern" class="invalid-feedback">
                Email should be the real one!
            </p>
        </ng-container>
    </div>

    <button [class.btn-pulse]="submitted"
            [disabled]="submitted || !requestPassForm.valid"
            class="btn-block btn btn-primary btn-lg"
            type="submit">
        Request password
    </button>
</form>

<section aria-label="Sign in or sign up" class="sign-in-or-up">
    <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
    <p><a class="text-link" routerLink="../register">Register</a></p>
</section>
