<div class="action-menu">
    <div class="action-content">
        <div (click)="open('create')" class="action-box"><span class="text">Schedule</span></div>
        <div class="action-box"><span class="text">Join</span></div>
        <div class="action-box"><span class="text">Create</span></div>
        <div class="action-box"><span class="text">Share</span></div>
    </div>
</div>
<div class="content">
    <div class="main-content">
        <div *ngFor="let date of dates" class="schedule">
            <div class="schedule-header">{{date | date:'fullDate'}}</div>
            <div class="conference-container">
                <app-conference-item
                        class="conference-item"
                        *ngFor="let conference of conferenceList[date] | orderBy: 'startDate'"
                        [conference]="conference"
                        [showActionsButton]="true"
                        (editConference)="open('update', $event)"
                        (deleteConference)="delete($event)">
                </app-conference-item>
            </div>
        </div>
    </div>
</div>
