<div class="action-menu">
    <div class="action-content">
        <div (click)="open('create')" class="action-box">
            <nb-icon class="icon" icon="layout-outline"></nb-icon>
            <span class="text">Schedule</span>
        </div>
        <div class="action-box">
            <nb-icon class="icon" icon="log-in-outline"></nb-icon>
            <span class="text">Join</span>
        </div>
        <div class="action-box">
            <nb-icon class="icon" icon="plus-square-outline"></nb-icon>
            <span class="text">Create</span>
        </div>
        <div class="action-box">
            <nb-icon class="icon" icon="share-outline"></nb-icon>
            <span class="text">Share</span>
        </div>
    </div>
</div>
<div class="content">
    <div class="main-content">
        <div *ngFor="let date of dates" class="schedule">
            <div class="schedule-header">{{date | date:'fullDate'}}</div>
            <div class="conference-container">
                <app-conference-item
                        class="conference-item"
                        *ngFor="let conference of conferenceList[date] | orderBy: 'startDate'"
                        [conference]="conference"
                        [showActionsButton]="true">
                    <div class="action-body">
                        <nb-icon
                                class="icon action-toggle"
                                [nbPopover]="moreOptionPopover"
                                nbPopoverPlacement="bottom"
                                icon="more-vertical-outline">
                        </nb-icon>
                        <ng-template #moreOptionPopover>
                            <div class="more-option-popover">
                                <span class="option" (click)="open('update', conference)">
                                    <nb-icon
                                            class="icon edit"
                                            icon="edit-2-outline">
                                    </nb-icon>
                                <span class="text">Edit</span>
                                </span>
                                <span class="option" (click)="delete(conference.id)">
                                    <nb-icon
                                            class="icon remove"
                                            icon="trash-outline">
                                    </nb-icon>
                                <span class="text">Delete</span>
                                </span>
                            </div>
                        </ng-template>
                    </div>
                </app-conference-item>
            </div>
        </div>
        <div class="schedule" *ngIf="dates && dates.length === 0">
            <div class="schedule-header">{{ today | date:'fullDate' }}</div>
            <app-empty-state-conference
                    (iconClicked)="open('create')">
            </app-empty-state-conference>
        </div>
    </div>
</div>
