@import "src/mixins";

:host {
  display: flex;
  flex-direction: column;
  margin: -1rem -1rem 0;

  @include breakpoint(medium) {
    margin: -1.5rem -1.5rem -0.5rem;
  }

  @include breakpoint(large) {
    margin: -2.25rem -2.25rem -0.75rem;
  }

}

.action-menu {
  display: block;
  width: 100%;
  background-color: #ECECEC;
  padding: 16px 24px;
  border-bottom: 1px solid #e4e9f2;
  overflow-y: auto;
  position: fixed;
  top: 4.75rem;
  z-index: 1;

  .action-content {
    display: flex;
  }

  .action-box {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e4e9f2;
    border-radius: 10px;
    padding: 24px;
    width: 140px;
    height: 100px;
    margin-right: 16px;
    cursor: pointer;

    .text {
      display: flex;
      align-items: center;
    }
  }
}

.content {
  padding-top: 133px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.schedule-header {
  position: sticky;
  position: -webkit-sticky;
  top: calc(4.75rem + 133px);
  background-color: #8779AE;
  border-bottom: 1px solid #746895;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  padding: 16px;
}

.conference-container {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
}

.conference-item {
  padding-bottom: 16px;
}



