@import "src/mixins";

:host {
  display: flex;
  flex-direction: column;
  //margin: -1rem -1rem 0;

  @include breakpoint(medium) {
    //margin: -1.5rem -1.5rem -0.5rem;
  }

  @include breakpoint(large) {
    //margin: -2.25rem -2.25rem -0.75rem;
  }

}

.action-menu {
  padding: 16px 0;
  background-color: #edf1f7;
  width: 100%;
  border-bottom: 1px solid #edf1f7;
  overflow-y: auto;
  position: fixed;
  top: 4.75rem;
  z-index: 1;

  .action-content {
    display: flex;
  }

  .action-box {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e4e9f2;
    border-radius: 10px;
    padding: 24px;
    width: 140px;
    height: 100px;
    margin-right: 16px;
    cursor: pointer;

    .text {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      z-index: 10;
    }
  }

  .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 80px;
    overflow: hidden;
    color: #edf1f7;
    opacity: 0.4;
  }
}

.content {
  padding-top: calc(133px - 2.25rem);
}

.main-content {
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.schedule-header {
  position: sticky;
  position: -webkit-sticky;
  top: calc(4.75rem + 133px);
  background-color: #8779AE;
  border-bottom: 1px solid #746895;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  padding: 16px;
  margin-bottom: 8px;
}

.conference-container {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 0;
}

.conference-item {
  padding-bottom: 16px;
}



