<div class="action-menu">
    <div class="action-content">
        <button (click)="open('create')"
                class="action-btn"
                nbButton
                outline>
            <nb-icon icon="plus-square-outline"></nb-icon>
            <span>Create</span>
        </button>
        <button class="action-btn"
                nbButton
                outline>
            <nb-icon icon="log-in-outline"></nb-icon>
            <span>Join</span>
        </button>
        <button class="action-btn"
                nbButton
                outline>
            <nb-icon icon="share-outline"></nb-icon>
            <span>Share</span>
        </button>
    </div>
</div>
<div class="content">
    <div class="row main-content">
        <div *ngFor="let date of dates" class="col-lg-7 col-md-10 col-sm-12 schedule">
            <div class="schedule-header">{{formatDate(date)}}</div>
            <div class="conference-container">
                <app-conference-item
                        *ngFor="let conference of conferenceList[date] | orderBy: 'startDate'"
                        [conference]="conference"
                        [showActionsButton]="true"
                        class="conference-item">
                    <div class="action-body">
                        <button (click)="join(conference.id)" class="join" nbButton outline size="small"
                                status="primary">Join
                        </button>
                        <nb-icon
                                [nbPopover]="moreOptionPopover"
                                [options]="{ animation: { type: 'flip' } }"
                                class="icon action-toggle"
                                icon="more-vertical-outline"
                                nbPopoverPlacement="bottom">
                        </nb-icon>
                        <ng-template #moreOptionPopover>
                            <div class="more-option-popover">
                                <span (click)="open('update', conference)" class="option">
                                    <nb-icon
                                            [options]="{ animation: { type: 'flip' } }"
                                            class="icon edit"
                                            icon="edit-2-outline">
                                    </nb-icon>
                                <span class="text">Edit</span>
                                </span>
                                <span (click)="delete(conference.id)" class="option">
                                    <nb-icon
                                            [options]="{ animation: { type: 'flip' } }"
                                            class="icon remove"
                                            icon="trash-outline">
                                    </nb-icon>
                                <span class="text">Delete</span>
                                </span>
                            </div>
                        </ng-template>
                    </div>
                </app-conference-item>
            </div>
        </div>
        <div *ngIf="dates && dates.length === 0" class="schedule">
            <div class="schedule-header">{{ today | date:'fullDate' }}</div>
            <app-empty-state-conference
                    (iconClicked)="open('create')">
            </app-empty-state-conference>
        </div>
    </div>
</div>
