$color-1: #442d81;
$color-1-darker: #281F42;
$color-2: #7124F6;
$color-5: #6c757d;
$color-6: #f8f9fa;
$color-7: #dee2e6;
$color-8: #8484a3;

$color-primary-100: #eceaf2;
$color-primary-200: #dad5e6;
$color-primary-300: #c7c0d9;
$color-primary-400: #b4abcd;
$color-primary-500: #a296c0;
$color-primary-600: #8f81b3;
$color-primary-700: #7c6ca7;
$color-primary-800: #69579a;
$color-primary-900: #57428e;
$color-primary-1000: #442d81;

$color-basic-100: #eae9ec;
$color-basic-200: #d4d2d9;
$color-basic-300: #bfbcc6;
$color-basic-400: #a9a5b3;
$color-basic-500: #948fa1;
$color-basic-600: #7e798e;
$color-basic-700: #69627b;
$color-basic-800: #534c68;
$color-basic-900: #3d3555;
$color-basic-1000: #281f42;

