@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import './colors';

$box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px -10px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;

$nb-themes: nb-register-theme((
        select-min-width: 6rem,
        input-tiny-max-width: 100%,
        input-small-max-width: 100%,
        input-medium-max-width: 100%,
        input-large-max-width: 100%,
        input-giant-max-width: 100%,
        select-tiny-max-width: 100%,
        select-small-max-width: 100%,
        select-medium-max-width: 100%,
        select-large-max-width: 100%,
        select-giant-max-width: 100%,
        icon-tiny-size: 0.75rem,
        icon-small-size: 1rem,
        icon-medium-size: 1.25rem,
        icon-large-size: 1.5rem,
        icon-giant-size: 2rem,
        popover-border-radius: 8px,
  //    overlay-backdrop-background-color: rgba(233, 234, 236, 0.35),
        card-margin-bottom: 0,
        outline-width: 0,
  //
  //    layout-background-color: #edf1f7,
        layout-background-color: #f8f9fa,
  //
        popover-shadow: $box-shadow,
  //
        sidebar-menu-item-highlight-color: $color-1,
  //
        input-rectangle-border-radius: 8px,
        input-medium-text-font-weight: 500,
  //
        input-border-width: 1px,
        input-basic-background-color: #FFFFFF,
        input-basic-text-color: #281F42,
        input-basic-border-color: #8484a3,
        input-basic-placeholder-text-color: #8484a3,
        input-basic-hover-background-color: #FFFFFF,
        input-basic-hover-border-color: #7124F6,
        input-basic-focus-background-color: #FFFFFF,
        input-basic-focus-border-color: #7124F6,
  //
        select-rectangle-border-radius: 8px,
  //
        select-outline-basic-background-color: #FFFFFF,
        select-outline-basic-border-color: #8484a3,
        select-outline-basic-text-color: #281F42,
        select-outline-basic-hover-background-color: #FFFFFF,
        select-outline-basic-hover-border-color: #7124F6,
        select-outline-basic-focus-background-color: #FFFFFF,
        select-outline-basic-focus-border-color: #7124F6,
  //
        option-medium-text-font-weight: 500,
        option-list-border-color: #8484a3,
        option-text-color: #281F42,
        option-selected-background-color: #442d81,
        option-selected-text-color: #FFFFFF,
        option-active-background-color: #442d81,
        option-active-text-color: #FFFFFF,
        option-focus-background-color: #57428e,
        option-focus-text-color: #FFFFFF,
        option-hover-background-color: #69579a,
        option-hover-text-color: #FFFFFF,
        option-selected-hover-background-color: #57428e,
        option-selected-hover-text-color: #FFFFFF,
        option-selected-focus-background-color: #442d81,
        option-selected-focus-text-color: #FFFFFF,
  //
        button-rectangle-border-radius: 8px,
        button-filled-text-transform: capitallize,
        button-filled-basic-background-color: #442d81,
        button-filled-basic-border-color: #442d81,
        button-filled-basic-text-color: #FFFFFF,
        button-filled-basic-focus-background-color: #442d81,
        button-filled-basic-focus-border-color: #442d81,
        button-filled-basic-hover-background-color: #7124F6,
        button-filled-basic-hover-border-color: #7124F6,
        button-filled-basic-active-background-color: #442d81,
        button-filled-basic-active-border-color: #442d81,
        button-filled-basic-disabled-background-color: #8f81b3,
        button-filled-basic-disabled-border-color: #8f81b3,
        button-filled-basic-disabled-text-color: #FFFFFF,
  //
        button-outline-basic-background-color: rgba(68, 45, 129, 0.08),
        button-outline-basic-border-color: rgb(68, 45, 129, 0.8),
        button-outline-basic-text-color: rgb(68, 45, 129, 0.8),
        button-outline-basic-focus-background-color: rgba(68, 45, 129, 0.24),
        button-outline-basic-focus-border-color: rgba(68, 45, 129, 0.8),
        button-outline-basic-focus-text-color: rgba(68, 45, 129, 0.8),
        button-outline-basic-hover-background-color: rgba(68, 45, 129, 0.16),
        button-outline-basic-hover-border-color: rgba(68, 45, 129, 0.8),
        button-outline-basic-hover-text-color: rgba(68, 45, 129, 0.8),
        button-outline-basic-active-background-color: rgba(68, 45, 129, 0.24),
        button-outline-basic-active-border-color: rgba(68, 45, 129, 0.8),
        button-outline-basic-active-text-color: rgba(68, 45, 129, 0.8),
        button-outline-basic-disabled-background-color: rgba(68, 45, 129, 0.16),
        button-outline-basic-disabled-border-color: rgba(68, 45, 129, 0.24),
        button-outline-basic-disabled-text-color: rgba(68, 45, 129, 0.8),
  //
        menu-item-active-text-color: #442d81,
        menu-item-icon-active-color: #442d81,
        menu-item-hover-text-color: #442d81,
        menu-item-icon-hover-color: #442d81,
        menu-text-color: #8484a3,
        menu-item-icon-color: #8484a3,
  //
), corporate, corporate);
