@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((
        select-min-width: 6rem,
        input-medium-max-width: 100%,
        popover-border-radius: 10px,
        overlay-backdrop-background-color: rgba(233, 234, 236, 0.35)
), corporate, corporate);
