@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import './colors';

$nb-themes: nb-register-theme((
        select-min-width: 6rem,
        input-tiny-max-width: 100%,
        input-small-max-width: 100%,
        input-medium-max-width: 100%,
        input-large-max-width: 100%,
        input-giant-max-width: 100%,
        select-tiny-max-width: 100%,
        select-small-max-width: 100%,
        select-medium-max-width: 100%,
        select-large-max-width: 100%,
        select-giant-max-width: 100%,
        icon-tiny-size: 0.75rem,
        icon-small-size: 1rem,
        icon-medium-size: 1.25rem,
        icon-large-size: 1.5rem,
        icon-giant-size: 2rem,
        popover-border-radius: 8px,
        overlay-backdrop-background-color: rgba(233, 234, 236, 0.35),
        card-margin-bottom: 0,
        outline-width: 0,

        //layout-background-color: #edf1f7,
        layout-background-color: #f8f9fa,

        input-rectangle-border-radius: 8px,

        input-border-width: 1px,
        input-basic-background-color: #FFFFFF,
        input-basic-text-color:#281F42,
        input-basic-border-color: #8484a3,
        input-basic-placeholder-text-color: #8484a3,
        input-basic-hover-background-color: #FFFFFF,
        input-basic-hover-border-color: #7124F6,
        input-basic-focus-background-color: #FFFFFF,
        input-basic-focus-border-color: #7124F6,


        menu-item-active-text-color: #442d81,
        menu-item-icon-active-color: #442d81,
        menu-item-hover-text-color: #7124F6,
        menu-item-icon-hover-color: #7124F6,
        menu-text-color: #8484a3,
        menu-item-icon-color: #8484a3,
), corporate, corporate);
