@import "src/mixins";
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 2.25rem 0.75rem;

  @include media-breakpoint-down(md) {
    padding: 1.5rem 1.5rem 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem 1rem 0;
  }

}

.main-content {
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.schedule-header {
  position: sticky;
  position: -webkit-sticky;
  top: calc(4.75rem);
  background-color: #8779AE;
  border-bottom: 1px solid #746895;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  padding: 16px;
  margin-bottom: 8px;
}

.conference-container {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 0;
}

.conference-item {
  padding-bottom: 16px;
}

.empty-state {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  color: #222b45;
  opacity: 0.4;


  .text-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .text {
    font-size: 16px;
  }

  .icon {
    margin-top: 16px;
    font-size: 40px;
    cursor: pointer;

    &:hover {
      color: #8779AE;
    }
  }
}
