<div class="content">
    <div class="main-content">
        <div *ngFor="let date of dates" class="schedule">
            <div class="schedule-header">{{date | date:'fullDate'}}</div>
            <div class="conference-container">
                <app-conference-item
                        *ngFor="let conference of conferenceList[date] | orderBy: 'startDate'"
                        [conference]="conference"
                        class="conference-item">
                </app-conference-item>
            </div>
        </div>
    </div>
</div>
