<nb-card>
    <nb-card-header class="phev-card-header">
        <div class="header-content">
            <nb-icon (click)="back()"
                     *ngIf="view === ScheduleDialogView.FORM"
                     class="icon"
                     icon="arrow-ios-back-outline">
            </nb-icon>
            <span class="header-title">{{date | date:'fullDate'}}</span>
            <span *ngIf="view === ScheduleDialogView.LIST || mode === ScheduleDialogMode.CREATE" class="close-dialog">
                <nb-icon class="icon" icon="close-outline" (click)="dismiss()"></nb-icon>
            </span>
            <nb-icon *ngIf="view === ScheduleDialogView.FORM && mode === ScheduleDialogMode.UPDATE"
                     [nbPopover]="moreOptionPopover"
                     class="icon"
                     icon="more-vertical-outline"
                     nbPopoverPlacement="bottom">
            </nb-icon>
            <ng-template #moreOptionPopover>
                <div class="more-option-popover">
                    <span (click)="delete(selectedConference)" class="option">
                        <nb-icon class="icon remove" icon="trash-outline"></nb-icon>
                        <span class="text">Delete</span>
                    </span>
                    <span (click)="dismiss()" class="option">
                        <nb-icon class="icon dismiss" icon="close-outline"></nb-icon>
                        <span class="text">Close</span>
                    </span>
                </div>
            </ng-template>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div [ngSwitch]="view">
            <div *ngSwitchCase="ScheduleDialogView.LIST" class="conference-container">
                <ng-container *ngIf="events && events.length">
                    <app-conference-item
                            (click)="edit(event.meta)"
                            *ngFor="let event of events | orderBy: 'startDate'"
                            [conference]="event.meta"
                            [showActionsButton]="true"
                            class="conference-item with-hover">
                        <div class="action-body">
                            <button (click)="join($event, event.meta.id)" class="join" nbButton outline size="small"
                                    status="primary">Join
                            </button>
                        </div>
                    </app-conference-item>
                    <div class="conference-action">
                        <i (click)="create()" class="icon im im-icon-Add-File"></i>
                    </div>
                </ng-container>
                <app-empty-state-conference (iconClicked)="create()" *ngIf="events.length === 0"
                                            class="empty-state"></app-empty-state-conference>
            </div>
            <div *ngSwitchCase="ScheduleDialogView.FORM" class="conference-container">
                <app-conference-form
                        (valueChanged)="conferenceFormChanged($event)"
                        [description]="selectedConference.description"
                        [endDate]="selectedConference.endDate"
                        [name]="selectedConference.name"
                        [startDate]="selectedConference.startDate"
                        (isValid)="validConferenceFormChanged($event)">
                </app-conference-form>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer class="footer">
        <div *ngIf="view === ScheduleDialogView.FORM" class="footer-container">
            <button (click)="save()" class="save" nbButton type="submit">Save</button>
            <button (click)="dismiss()" nbButton outline>Cancel</button>
        </div>
    </nb-card-footer>
</nb-card>
