@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import './src/colors';

:host {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  nb-card {
    border-radius: 10px;
  }

  nb-card-header {
    border: none;
    box-shadow: none;
  }

  nb-card-body {
    width: 100%;
    max-width: 540px;
    min-width: 540px;
    overflow: auto;
  }

  nb-card-footer {
    min-height: 72px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.phev-card-header {
  display: flex;

  .header-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header-title {
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 auto;
  }

  .close-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #edf1f7;
    cursor: pointer;
    margin: 0 0 0 auto;
  }

  .icon {
    cursor: pointer;
  }
}

.more-option-popover {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  border-radius: 10px;

  .option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;

    &:hover {
      background-color: #edf1f7;
      border-radius: 10px;
    }
  }

  .icon {
    font-size: 16px;

    &.remove {
      color: #ff3d71;
    }

    &.dismiss {

    }
  }

  .text {
    font-size: 14px;
    line-height: 18px;
    margin-left: 4px;

    &.remove {
      color: #ff3d71;
    }

    &.dismiss {

    }
  }
}

.conference-item {
  cursor: pointer;
  padding-bottom: 16px;

  &:last-child {
    padding-bottom: 0;
  }
}

.conference-action {
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: center;

  .icon {
    padding: 24px 16px 16px;
    font-size: 32px;
    cursor: pointer;
    color: $color-5;

    &:hover {
      color: $color-1;
    }
  }
}

.footer {
  background-color: #ffffff;

  .footer-container {
    display: flex;
    align-items: center;

    .save {
      margin-right: 8px;
    }
  }
}

.empty-state {
  margin-top: 16px;
}

@include media-breakpoint-down(md) {
  :host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: none;

    nb-card {
      border-radius: 0;
      min-height: 100vh;
    }

    nb-card-body {
      min-width: auto;
      max-width: 100%;
    }
  }
}
