@import "./src/colors";
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


// Globals
.section {
  padding: 48px 24px;
}

.semi-rounded {
  border-radius: 0.75rem;
}

.hero {
  padding: 6rem 0;

  .header {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    color: $color-1-darker;
  }

  .subheader {
    color: $color-8;
  }

  .btn-primary-transparent {
    color: $color-1-darker;
  }
}

.featured-image {
  width: 100%;
}

.feature-title {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  color: $color-1-darker;
  font-size: 32px;
}

.section-feature-description {
  max-width: 460px;
  margin: 0 auto;
  color: $color-8;
  font-size: 18px;
}

.section-title {

  .title {
    font-size: 40px;
    color: $color-1-darker;
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 24px;
    color: $color-8;
    font-weight: 400;
  }
}

.boxed-features {
  padding: 40px 0;

  .flex-card {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    &.light-bordered {
      border: 1px solid #e5e5e5;
    }

    .flex-cell {
      width: 25%;
      border-right: 1px solid $color-7;
      text-align: center;
      padding: 24px 16px;

      &.is-bordered {
        border-bottom: 1px solid $color-7;
      }

      &.no-border-edge {
        border-right: none;
      }

      i {
        font-size: 2.2rem;
        color: $color-2;
      }

      h3 {
        font-weight: 500;
        color: $color-1-darker;
      }

      p {
        font-size: .95rem;
        color: $color-8;
        max-width: 200px;
        margin: 0 auto;
      }
    }
  }
}

.cta-block {
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid $color-7;

  .head-text {
    h3 {
      font-size: 1.8rem;
      color: $color-1-darker;
    }

    p {
      font-size: 1.1rem;
      color: $color-8;
    }
  }

  .head-action {
    .buttons {
      .btn {
        &.semi-rounded {
          border-radius: 0.75rem;
        }
      }
    }
  }
}

.faq-wrapper {
  padding: 50px 0;

  .faq-block {
    margin: 0 0 50px 0;
    padding: 0 16px;

    &:last-child {
      margin-bottom: 0;
    }

    .block-header {
      display: flex;
      cursor: pointer;

      &.is-active {
        .header-icon {
          transform: rotate(45deg);
        }
      }

      .header-icon {
        height: 24px;
        width: 24px;
        min-width: 24px;
        background: $color-1-darker;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s;

        i {
          color: #FFFFFF;
          font-size: 27px;
          font-weight: 700;
        }
      }

      .faq-title {
        font-size: 18px;
        font-weight: 500;
        color: $color-1-darker;
        margin-left: 12px;
      }
    }

    .block-body {
      display: none;
      padding-top: 16px;

      &.is-active {
        display: block;
      }

      .section-faq-description {
        color: $color-8;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .section {
    padding: 24px 16px;
  }

  .section-title {

    .title {
      font-size: 32px;
    }

    .subtitle {
      font-size: 16px;
    }
  }

  .boxed-features {
    .flex-card {
      .flex-cell {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $color-7;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .cta-block {
    flex-direction: column;
    text-align: center;

    .head-text {
      padding-bottom: 24px;
    }
  }

  .faq-wrapper {
    .faq-block {
      margin: 25px 0;
    }
  }
}
