<div class="section bg-light pt-12 pt-md-16">
    <div class="container-lg">
        <!-- Feature -->
        <div class="row align-items-center justify-content-between">
            <div class="col-md-7">
                <img class="featured-image" src="assets/img/illustrations/UI/feature-4.png" alt="">
            </div>
            <div class="col-md-5 text-center text-md-left">
                <h2 class="feature-title display-4 mb-4">Build your profile</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita
                    laoreet ne cum. His cu harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>
        <!-- Feature -->
        <div class="row align-items-center justify-content-between">
            <div class="col-md-7 order-md-1">
                <img class="featured-image" src="assets/img/illustrations/drawings/landing8-1.svg" alt="">
            </div>
            <div class="col-md-5 order-md-0 text-center text-md-right">
                <h2 class="feature-title display-4 mb-4">Get top ranked</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita
                    laoreet ne cum. His cu harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>
        <!-- Feature -->
        <div class="row align-items-center justify-content-between">
            <div class="col-md-7">
                <img class="featured-image" src="assets/img/illustrations/UI/feature-5.png" alt="">
            </div>
            <div class="col-md-5 text-center text-md-left">
                <h2 class="feature-title display-4 mb-4">Work on top tier projects</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita
                    laoreet ne cum. His cu harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>
    </div>
</div>
