<app-header [fixed]="true" [isExpanded]="isExpanded">
    <div class="menu-items">
        <ul class="list-menu-item p-0" routerLinkActive="active">
            <li class="menu-item">
                <a class="link" routerLink="/features">Features</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a class="link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>

        <div class="btn-auth-group justify-content-center">
            <ng-container *ngIf="isAuthenticated; else authentication">
                <a class="btn btn-outline-primary btn-lg semi-rounded" routerLink="/app/dashboard"
                   routerLinkActive="active">
                    Back to app
                </a>
            </ng-container>
            <ng-template #authentication>
                <a class="btn btn-primary btn-lg semi-rounded" routerLink="/auth/register" routerLinkActive="active">
                    Sign Up
                </a>
                <a class="btn btn-outline-primary btn-lg semi-rounded ml-3" routerLink="/auth/login"
                   routerLinkActive="active">
                    Log In
                </a>
            </ng-template>
        </div>

        <fa-icon (click)="toggle()" [icon]="faBars" class="nav-toggler"></fa-icon>
    </div>
    <div class="menu-items-collapse">
        <ul class="list-menu-item">
            <li class="menu-item" routerLinkActive="active">
                <a class="link" routerLink="/">Features</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a class="link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
        <div class="btn-auth-group justify-content-center">
            <ng-container *ngIf="isAuthenticated; else authentication">
                <a class="btn btn-outline-primary btn-lg semi-rounded" routerLink="/app/dashboard"
                   routerLinkActive="active">
                    Back to app
                </a>
            </ng-container>
            <ng-template #authentication>
                <a class="btn btn-primary btn-lg semi-rounded" routerLink="/auth/register" routerLinkActive="active">
                    Sign Up
                </a>
                <a class="btn btn-outline-primary btn-lg semi-rounded ml-3" routerLink="/auth/login"
                   routerLinkActive="active">
                    Log In
                </a>
            </ng-template>
        </div>
    </div>
</app-header>

<section class="hero pt-4 pt-md-11">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
                <img alt="..."
                     class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0"
                     src="assets/img/illustrations/drawings/why-3.svg">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1">
                <h1 class="header text-center text-md-left">
                    Online meeting software & web conferencing tool for you.
                </h1>
                <p class="subheader lead text-center text-md-left mb-6 mb-lg-8">
                    Scalable solution for efficient collaboration with teams, customers or clients, no matter where
                    they're.
                </p>
                <div class="pt-5 pt-md-5 text-center text-md-left">
                    <a class="btn btn-primary btn-lg semi-rounded" routerLink="/">Get Started</a>
                    <a class="btn btn-primary-transparent btn-lg ml-2 semi-rounded" routerLink="/">Join a meeting</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="section-title text-center">
            <h2 class="title">Video conferencing made easy</h2>
            <h4 class="subtitle">Discover a brand new way of managing freelance projects.</h4>
        </div>

        <div class="boxed-features">
            <div class="flex-card light-bordered hover-inset">
                <div class="flex-cell is-bordered">
                    <i class="im im-icon-Halloween-Moon"></i>
                    <h3>Top Jobs</h3>
                    <p>Top recent and curated job offers from our company network</p>
                </div>
                <div class="flex-cell is-bordered">
                    <i class="im im-icon-Wallet-2"></i>
                    <h3>Secured Wallet</h3>
                    <p>To manage your earnings and make withdrawals</p>
                </div>
                <div class="flex-cell is-bordered">
                    <i class="im im-icon-Speach-Bubble11"></i>
                    <h3>Direct Messages</h3>
                    <p>You can talk freely with the customers </p>
                </div>
                <div class="flex-cell is-bordered no-border-edge">
                    <i class="im im-icon-Receipt-2"></i>
                    <h3>Auto Billing</h3>
                    <p>You don't have to worry about invoices and billing</p>
                </div>
                <div class="flex-cell">
                    <i class="im im-icon-Yes"></i>
                    <h3>Task Tracking</h3>
                    <p>Don't get lost in your tasks anymore aith our built in tracker</p>
                </div>
                <div class="flex-cell">
                    <i class="im im-icon-Time-Backup"></i>
                    <h3>Time Tracking</h3>
                    <p>You don't have to do your time tracking anymore, use ours</p>
                </div>
                <div class="flex-cell">
                    <i class="im im-icon-File-Chart"></i>
                    <h3>Custom Reports</h3>
                    <p>Evaluate your work and perfs by using built in reports</p>
                </div>
                <div class="flex-cell no-border-edge">
                    <i class="im im-icon-Window-2"></i>
                    <h3>Presentation Tools</h3>
                    <p>Showcase progress to customers using a set of design tools</p>
                </div>
            </div>
        </div>

        <div class="cta-block">
            <div class="head-text">
                <h3>Ready to get started?</h3>
                <p>Create your free account now</p>
            </div>
            <div class="head-action">
                <div class="buttons">
                    <button class="btn btn-primary btn-lg semi-rounded" type="button">Try it free</button>
                    <button class="btn btn-primary-transparent ml-2 btn-lg semi-rounded" type="button">Chat with us
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section pt-12 pt-md-16">
    <div class="container-lg">

        <div class="row align-items-center justify-content-between">
            <div class="col-md-7">
                <img alt="" class="featured-image" src="assets/img/illustrations/UI/why-2.svg">
            </div>
            <div class="col-md-5 text-center text-md-left">
                <h2 class="feature-title display-4 mb-4">Build your profile</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita
                    laoreet ne cum. His cu harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-md-7 order-md-1">
                <img alt="" class="featured-image" src="assets/img/illustrations/drawings/landing8-1.svg">
            </div>
            <div class="col-md-5 order-md-0 text-center text-md-right">
                <h2 class="feature-title display-4 mb-4">Get top ranked</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita
                    laoreet ne cum. His cu harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-md-7">
                <img alt="" class="featured-image" src="assets/img/illustrations/UI/why-1.svg">
            </div>
            <div class="col-md-5 text-center text-md-left">
                <h2 class="feature-title display-4 mb-4">Work on top tier projects</h2>
                <p class="section-feature-description">Lorem ipsum dolor sit amet, clita
                    laoreet ne cum. His cu harum inermis
                    iudicabit. Ex vidit fierent hendrerit eum, sed stet periculis ut. Vis in probo decore labitur.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="title is-2">Frequently Asked Questions</h2>
            <h4 class="subtitle">Everything you need to know to get started.</h4>
        </div>
        <div class="faq-wrapper">
            <div class="row justify-content-center">
                <div class="col-md-5 offset-md-1">
                    <div *ngFor="let faqItem of faqItems.slice(0,4)" class="faq-block">
                        <div (click)="faqItem.isCollapsed = !faqItem.isCollapsed"
                             [ngClass]="{'is-active': faqItem.isCollapsed}"
                             class="block-header">
                            <div class="header-icon">
                                <i class="im im-icon-Add"></i>
                            </div>
                            <h3 class="faq-title">{{faqItem.header}}</h3>
                        </div>
                        <div [ngClass]="{'is-active': faqItem.isCollapsed}" class="block-body">
                            <p class="section-faq-description">{{faqItem.body}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div *ngFor="let faqItem of faqItems.slice(4,8)" class="faq-block">
                        <div (click)="faqItem.isCollapsed = !faqItem.isCollapsed"
                             [ngClass]="{'is-active': faqItem.isCollapsed}"
                             class="block-header">
                            <div class="header-icon">
                                <i class="im im-icon-Add"></i>
                            </div>
                            <h3 class="faq-title">{{faqItem.header}}</h3>
                        </div>
                        <div [ngClass]="{'is-active': faqItem.isCollapsed}" class="block-body">
                            <p class="section-faq-description">{{faqItem.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
